<h1><%= @movie.title %></h1>

<div id="movie_details">
    <p><%= @movie.summary %></p>
    <p>Vote Average: <%= @movie.vote_average %></p>
    <p>Genres: <%= @movie.genres.join(", ") %></p>
    <p>Runtime: <%= @movie.runtime %></p>
</div>

<div id="cast">
    <h2>Cast</h2>
    <ul>
        <% @movie.cast.each do |actor| %>
        <li> 
            <p>Name: <%= actor[:name] %></p>
            <p>Character: <%= actor[:character] %></p>
        </li>
        <% end %>
    </ul>
</div>

<div id="reviews">
    <h2>Reviews</h2>
    <ul>
        <% @movie.reviews.each do |review| %>
        <li>
            <p>Author: <%= review[:author] %></p>
            <p>Review: <%= review[:content] %></p>
        </li>
        <% end %>
    </ul>
</div>

<div id="page_actions">
    <%= button_to 'Back to Discover', user_discover_index_path(@user), method: :get, class: 'btn btn-secondary' %>
</div>